<configuration>
    <variable name="OUT_DIR" value="/ecoim/ykstorage/log" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender Settings -->
    <appender name="DATA_DISK_LOGGER" class="ch.qos.logback.core.FileAppender" >
        <file>${OUT_DIR}/datadisk.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CACHE_DISK_LOGGER" class="ch.qos.logback.core.FileAppender" >
        <file>${OUT_DIR}/cachedisk.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DATA_DISK_STATE_LOGGER" class="ch.qos.logback.core.FileAppender" >
        <file>${OUT_DIR}/datadiskstate.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CACHE_DISK_STATE_LOGGER" class="ch.qos.logback.core.FileAppender" >
        <file>${OUT_DIR}/cachediskstate.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CACHE_MEMORY_LOGGER" class="ch.qos.logback.core.FileAppender" >
        <file>${OUT_DIR}/cachememory.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CLIENT_LOGGER" class="ch.qos.logback.core.FileAppender" >
        <file>${OUT_DIR}/client.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- Logger Settings -->
    <logger name="jp.ac.titech.cs.de.ykstorage.storage.datadisk.MAIDDataDiskManager" additivity="false">
        <appender-ref ref="DATA_DISK_LOGGER" />
    </logger>

    <logger name="jp.ac.titech.cs.de.ykstorage.storage.datadisk.MAIDDataDiskStateManager" additivity="false">
        <appender-ref ref="DATA_DISK_STATE_LOGGER" />
    </logger>

    <logger name="jp.ac.titech.cs.de.ykstorage.storage.cachedisk.MAIDCacheDiskManager" additivity="false">
        <appender-ref ref="CACHE_DISK_LOGGER" />
    </logger>

    <logger name="jp.ac.titech.cs.de.ykstorage.storage.cachedisk.MAIDCacheDiskStateManager" additivity="false">
        <appender-ref ref="CACHE_DISK_STATE_LOGGER" />
    </logger>

    <logger name="jp.ac.titech.cs.de.ykstorage.storage.buffer.CacheMemoryManager" additivity="false">
        <appender-ref ref="CACHE_MEMORY_LOGGER" />
    </logger>

    <logger name="jp.ac.titech.cs.de.ykstorage.cli.MAIDSimpleClient2" additivity="false">
        <appender-ref ref="CLIENT_LOGGER" />
    </logger>


    <!-- Root Logger Setting -->
    <root level="${root-level:-info}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>